<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <table>
        <tr>
            <th>Your guess</th>
            <th>bulls</th>
            <th>cows</th>
        </tr>
    {{ with .Sets}}
        {{ range . }}
        <tr>
            <td> {{ .Guess }} </td>
            <td> {{ .Bulls }} </td>
            <td> {{ .Cows }} </td>
        </tr>
        {{ end }}
    {{ end }}
    </table>

    {{ if .Won }}
        You Won
        <form method="POST">
            <input type="submit" name="play_again" value="Play Again">
        </form>
    {{ else }}
        <form method="POST">
            Enter Your next guess
            <input type="text" name="guess">
            <input type="submit" name="submit">
            <input type="submit" name="restart" value="Restart">
            <!-- <input type="submit" name="give_up" value="Give Up"> -->
        </form>
    {{ end }}

</body>
</html>
